<h1>Héroes <small>Mavel & DC</small></h1>
<hr>

<div class="card-columns">

	<div class="card my-2" style="width: 18rem;">
		<img src="assets/img/aquaman.png" class="card-img-top img-fluid" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Ver mas...</a>
		</div>
	</div>

	<div class="card my-2" style="width: 18rem;">
		<img src="assets/img/aquaman.png" class="card-img-top img-fluid" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Ver mas...</a>
		</div>
	</div>

	<div class="card my-2" style="width: 18rem;">
		<img src="assets/img/aquaman.png" class="card-img-top img-fluid" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Ver mas...</a>
		</div>
	</div>

	<div class="card my-2" style="width: 18rem;">
		<img src="assets/img/aquaman.png" class="card-img-top img-fluid" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Ver mas...</a>
		</div>
	</div>

	<div class="card my-2" style="width: 18rem;">
		<img src="assets/img/aquaman.png" class="card-img-top img-fluid" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Ver mas...</a>
		</div>
	</div>

</div>