<h1>Héroes <small>Mavel & DC</small></h1>
<hr>

<div class="card-columns row">

	<div class="card my-2 mx-2" style="width: 18rem;" *ngFor="let heroe of heroes">
		<img [src]="heroe.img" class="card-img-top img-fluid" [alt]="heroe.nombre">
		<div class="card-body">
			<h5 class="card-title">{{ heroe.nombre }}</h5>
			<p class="card-text">{{ heroe.bio }}</p>
			<small class="card-text">{{ heroe.aparicion }}</small>
			<hr>

			<a href="#" class="btn btn-outline-primary btn-lg">Ver mas...</a>
		</div>
	</div>

</div>