<h1>Buscando:  <small>{{ termino }}</small></h1>
<hr>

<div class="row naimates fadeIn fast" *ngIf="heroes.length == 0">
	
	<div class="col-md-12">
		<div class="alert alert-danger" role="alert">
			{{ termino }} no encontrado, intentalo de nuevo.
		</div>
	</div>

</div>



<div class="card-columns row">

	<div 
		class="card my-2 mx-2 animated fadeIn fast" 
		style="width: 18rem;" 
		*ngFor="let heroe of heroes; let i = index"
	>

		<img 
			[src]="heroe.img" 
			class="card-img-top img-fluid" 
			alt="heroe.nombre"
		>
		
		<div class="card-body">
			<h5 class="card-title">{{ heroe.nombre }}</h5>
			<small class="card-text">{{ heroe.aparicion }}</small> 
			<hr>

			<p>{{ heroe.casa }}</p>
		</div>
	</div>

</div>